table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.low_quantity
{
  background-color: red;
}

.about_to_expire
{
  background-color: yellow;
}
